# **## Data Types and Structure Theory Question**

1. What are data structures, and why are they important?
-> Data structures are fundamental in computer science, acting as specialized formats for organizing, storing, and retrieving data efficiently. They are crucial for managing data in a way that makes it easier to understand, access, and manipulate, both for users and for machines.

 2. Explain the difference between mutable and immutable data types with examples.

 -> mutable data types can be modified after their creation, while immutable data types cannot. Mutable types allow in-place changes, while immutable types require creating new objects to represent changes.

 mutable example- Lists, dictionaries, and sets

 immutable example- Strings, tuples, frozensets, and numbers

3. What are the main differences between lists and tuples in Python?

-> a. Mutability (Changeability)

Lists are mutable: Their contents can be changed after creation.

Tuples are immutable: Once created, their contents are fixed.

 b. Semantics (Meaning)

Lists imply a sequence of items that might change — they are intended for collections of homogeneous or heterogeneous data that evolves.

Tuples imply a fixed structure — often used to represent records or group related but different items (like a point in 2D space, or a function return value).

c. Memory and Performance

Lists require more memory overhead to support dynamic resizing.

Tuples are more memory-efficient and allow for optimizations by the interpreter.

d. Data Integrity and Safety

Lists can accidentally be modified — more prone to bugs in shared or parallel contexts.

Tuples enforce immutability — safer for multi-threading and functional programming paradigms.

4. Describe how dictionaries store data.

-> Dictionaries are unordered collections of data and are represented with curly brackets { } . Like lists, dictionaries are mutable(changeable) and indexed. With dictionaries, data is stored in a key:value format. In this example, myCar is the variable that we have assigned our dictionary to.

5. Why might you use a set instead of a list in Python.

-> A set in Python differs from a list primarily in its properties of uniqueness and lack of order. Sets store only unique elements, automatically discarding duplicates, while lists allow for multiple occurrences of the same value. Additionally, sets are unordered, meaning the elements do not have a specific position or index, unlike lists where elements are arranged sequentially.

6. What is a string in Python, and how is it different from a list?

-> A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

7. How do tuples ensure data integrity in Python.

->Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic guarantees that the data stored within a tuple remains constant throughout its lifecycle, preventing accidental or unauthorized changes. Immutability makes tuples suitable for situations where data consistency is crucial, such as storing database connection settings or application configuration parameters. Tuples can also be used as keys in dictionaries and elements in sets, as their immutability allows them to be hashed.

8. What is a hash table, and how does it relate to dictionaries in Python.

-> A hash table is a data structure that stores key-value pairs, where each key is unique and its position in the table is determined by a hash function. This function takes the key as input and produces an index, indicating where the corresponding value is stored. Hash tables are designed for efficient insertion, deletion, and retrieval of data, offering average-case time complexity of O(1) for these operations.

In Python, dictionaries are implemented using hash tables. When a key-value pair is added to a dictionary, Python calculates the hash value of the key and uses it to determine the storage location. This allows for quick access to values based on their keys. Dictionaries handle collisions, situations where different keys produce the same hash value, using techniques like separate chaining or open addressing.

9. Can lists contain different data types in Python?

-> Yes, lists in Python are versatile and can contain elements of different data types. A single list can hold integers, strings, floats, booleans, and even other lists or more complex objects. This flexibility is a key feature of Python lists.

10. Explain why strings are immutable in Python?
-> Strings in Python are immutable because of design choices that prioritize efficiency, data integrity, and ease of use. Immutability ensures that once a string is created, its value cannot be altered. If a modification is needed, a new string object is created instead.

11. What advantages do dictionaries offer over lists for certain tasks?

-> Dictionaries in Python offer fast data retrieval: Unlike lists where you have to traverse through each element to find a value, dictionaries use hash tables for quick access to values based on keys.

12. Describe a scenario where using a tuple would be preferable over a list.
-> Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

13. How do sets handle duplicate values in Python?
-> Sets in Python are designed to store only unique elements. When attempting to add a duplicate value to a set, Python automatically ignores it, ensuring that the set contains only distinct values. This behavior makes sets useful for tasks such as removing duplicates from a list or checking for the presence of unique items.

14.  How does the “in” keyword work differently for lists and dictionaries?
-> in dictionary 'in' checks if a key is present in the dictionary  not the value.

When you use in with a list, it checks if a value is present in the list.

15. Can you modify the elements of a tuple? Explain why or why not?
-> No, you cannot modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, you can't change, add, or remove its elements.

16. What is a nested dictionary, and give an example of its use case?
-> A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows for representing hierarchical or multi-layered data structures. A use case for nested dictionaries is organizing employee records, where you might store each employee's information (name, job title, etc.) as a nested dictionary, grouped by department.

17. Describe the time complexity of accessing elements in a dictionary.
->The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup. Why O(1)? Hash tables use the hash of the key to find the memory location which enables direct access.

18. In what situations are lists preferred over dictionaries?
-> For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-> A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. In older versions of Python (before 3.7), dictionaries did not preserve insertion order at all

20. Explain the difference between a list and a dictionary in terms of data retrieval.
-> In terms of data retrieval, lists access elements by numerical index, while dictionaries access elements by unique keys. Lists are ordered, so accessing elements by position is efficient. Dictionaries are unordered but provide fast lookup times based on keys, says Technogeeks.

# **## Data Types and Structure Practical Question**

1. Write a code to create a string with your name and print it.

In [ ]:
num="prabhat mishra"
print(num)

prabhat mishra

2. Write a code to find the length of the string "Hello World".

In [ ]:
s="Hello World"
print(len(s))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
s="Python Programming"
slice=s[:3]
print(slice)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
string= "hello"
a=string.upper()
print(a)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
s="i like apple"
a=s.replace("apple", "orange")
print(a)

i like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
list=['a','b','c','d']
print(list[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tuple=('red', 'green', 'blue', 'yellow')
a=tuple[-2]
print(a)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tuple=(10,20,5,15)
a=min(tuple)
print(a)

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple= ('dog', 'cat', 'rabbit')
a=tuple.index("cat")
print(a)

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ("apple", "banana", "orange")

if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [1]:
set={'a','b','c'}
print(set)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [2]:
set={1,2,3,4,5}
set.clear()
print(set)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [4]:
from os import remove
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [5]:
set1={1,2,3}
set2={3,4,5}
a=set1.union(set2)
print(a)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [6]:
set1={1,2,3}
set2={2,3,4}
a=set1.intersection(set2)
print(a)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [7]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [8]:
dict={'name': 'John', 'age': 25}
dict['country'] = 'USA'
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [9]:
dict={'name':"alice",'age':30}
print(dict['name'])

alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [12]:
dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop('age')
print(dict)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [16]:

dict={'name': 'Alice', 'city': 'Paris'}
if 'city' in dict:
  print("city exist in code")
else:
  print("city does not exist in code")

city exist in code

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [17]:
my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [18]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print(random_numbers)

[15, 19, 46, 50, 73]

28.  Write a code to create a list with strings and print the element at the third index

In [19]:

my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print("Element at index 3:", my_list[3])

Element at index 3: date

29.  Write a code to combine two dictionaries into one and print the result.

In [20]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}

print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [25]:
my_list = ['apple', 'banana', 'cherry', 'apple']
my_set = {item for item in my_list}

print("Converted set using set comprehension:", my_set)

Converted set using set comprehension: {'apple', 'banana', 'cherry'}